---
import PokemonCard from '@/components/pokemon/PokemonCard.astro';
import TitleUI from '@/components/shared/TitleUI.astro';
import type { PokemonListResponse } from '@/interface/pokemon-list.resp';
import MainLayout from '@/layouts/MainLayout.astro';

const resp = await fetch(`https://pokeapi.co/api/v2/pokemon`);
const data = (await resp.json()) as PokemonListResponse;
---

<MainLayout title="Home">
  <TitleUI>Listado de Pokemon</TitleUI>
  <section aria-label="Listado de Pokemons" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-4 mt-5">
    {data.results.map((pokemon) => <PokemonCard name={pokemon.name} url={pokemon.url} />)}
  </section>
</MainLayout>
