---
import PokemonCard from '@/components/pokemon/PokemonCard.astro';
import type { PokemonListResponse } from '@/interface';
import MainLayout from '@/layouts/MainLayout.astro';

const resp = await fetch(`https://pokeapi.co/api/v2/pokemon`);
const data = (await resp.json()) as PokemonListResponse;
---

<MainLayout title="Home">
  <h1 class="text-blue-400 text-3xl">Listado de Pokemon</h1>
  <hr class="border-slate-600" />
  <section aria-label="Listado de Pokemons" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-4 mt-5">
    {data.results.map((pokemon) => <PokemonCard name={pokemon.name} url={pokemon.url} />)}
  </section>
</MainLayout>
