---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout title="Favoritos">
  <h1 class="text-3xl font-bold mb-4">Favorites</h1>
  <p class="text-lg text-gray-300">Your favorite Pokémon will appear here.</p>
</MainLayout>
