---
import TitleUI from '@/components/shared/TitleUI.astro';
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout title="Favoritos">
  <TitleUI>Favoritos</TitleUI>
  <p class="text-lg text-gray-300">Your favorite Pokémon will appear here.</p>
</MainLayout>
